{% extends "base.html" %}

{% block content %}
{% load static %}

  <div class="container">
      <h1 style='color: black'>About Us</h1>
      <p>At such struggling times, we, the Meme Team is here to guide you to your solutions. From complicated, hard-to-understand SOPs to killing time with learning resources, we've simplified and packaged it into a single, neat website, just for you!</p>
    
    <br>
    <button class="button" style="vertical-align:middle" onclick="location.href='https://covid-19.moh.gov.my/hotline'">
      <span>Hotlines</span>
    </button>

<br>
      
  <div class="container" style='color: black;'>
    <h2>Contact Us</h2>
    <div class="contact">
      <a href="https://www.instagram.com/hsinorshin/" target="_blank"><button class="button" style="vertical-align:middle">
        <span ><img src="{% static 'assets/images/InstagramLogo.png' %}" alt="insta logo"> @xxx</span>
      </a>
 
      <a href="mailto:bangtan0526@gmail.com" target="_blank"><button class="button" style="vertical-align:middle">
        <span><img src="{% static 'assets/images/Emaillogo.png' %}" alt="email logo"> xxx@gmail.com</span>
      </a>

      <button class="button" style="vertical-align:middle">
        <span><img src="{% static 'assets/images/PhoneLogo.png' %}" alt="phone logo"> +6012-3456789</span>
      
      </div>     
  </div>
  </div>

{% endblock %}