<h1>All activities are below</h1>

<div>
{% for post in posts %}
    <div class="feed">
      <div class="feed-left">
      <div class="feed-username">{{post.username}}</div>
      <img class="feed-img" src='{{post.image}}' alt='{{post.shopname}}img'>
      </div>
      <div class="feed-right">
      <div>{{post.shopname}}</div>
      <div>{{post.descriptions}}</div>
      <div>{{post.state}}</div>
      </div>

    </div>
    <div class="feed-tag">
      <span>{{post.category}}</span>
      <span>{{post.category}}</span>
      <span>{{post.category}}</span>
    </div>

      {% endfor %}
      </div>