{% extends "base.html" %}


{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {{form.as_p}}
    <button type="submit" name="click" value="click">Submit</button>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li
        {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
    {% else %}
    <p>Only members can submit activities, login <a href="/login">here</a></p>
    {% endif %}
  </form>

<!-- {% if user.is_authenticated %}

{% else %}
<p>Please login first, click <a href="/login">here</a></p>
{% endif %} -->

{% endblock %}
