<!--
<h1>Add a new activity</h1>

<h3>Submit your username</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if user.is_authenticated %}
  {{form.as_p}}
  <button type="submit" name="click" value="click">Submit</button>
	{% if messages %}
	<ul class="messages">
    {% for message in messages %}
    <li
      {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
	</ul>
{% endif %}
  {% else %}
  <p>Only members can submit activities, login <a href="/login">here</a></p>
  {% endif %}
</form>
!-->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Submit an activity!</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    
      </style>
  </head>
  <body>
    <div w3-include-html="landing.html"></div>
    <div class="container">
      <h1>Submit an activity!</h1>
      <p>
        Do you own a business, or run an activity that you'd like others to know about?
       <br>
       <br>
        Register to submit a post, & it will show up on the feed for those who can access it according to their location & vaccination status.

      <br>
       <br>

        You can also submit on behalf of someone else, just make sure to include their contact information!
      

      </p>
      
      <br>

      <h3>Submissions include:</h3>
      <ul>
        <li>Businesses (physical or online)</li>
        <li>Services (physical or online)</li>
        <li>Volunteer Services</li>
        <li>Tutoring</li>
        <li>...etc.</li>
      </ul>

    </div>

    <div class="button-group">

      <a href="{% url 'register' %}">
      <button class="button" style="vertical-align:middle" onclick="document.location=''">
      <span>Register</span>
      </button>
      </a>

      <a href="{% url 'login' %}">
      <button class="button" style="vertical-align:middle" onclick="document.location=''">
      <span>Login</span>
      </button>
      </a>

      <a href="{% url 'logout' %}">
      <button class="button" style="vertical-align:middle; background-color: #DF5252" onclick="document.location=''">
      <span>Logout</span>
      </button>
      </a>

      <div w3-include-html="nav.html"></div>
      
      <script src="script.js"></script>
      <script>includeHTML();</script>
    </div>
    
  </body>
</html>