<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>repl.it</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header class='landing'>
	<h1 class="main-header">Meme </h1>
	<form method="POST" class="landing-form" action="index.html">
    {{ form }}
      <button class='submit-btn' type="submit" value='Confirm' />
    </form>
  </header>

    <script src="script.js"></script>
  </body>
</html>

<!--
  <header class="landing">
	<h1 class="main-header">Meme </h1>
	<form method="POST" class="landing-form" action="index.html">
    <label for="id_state">State:</label><select name="state" id="id_state">
  <option value="JOHOR">Johor</option>

  <option value="KEDAH">Kedah</option>

  <option value="KELANTAN">Kelantan</option>

  <option value="MALACCA">Malacca</option>

  <option value="NEGERI SEMBILAN">Negeri Sembilan</option>

  <option value="PAHANG">Pahang</option>

  <option value="PENANG">Penang</option>

  <option value="PERAK">Perak</option>

  <option value="PERLIS">Perlis</option>

  <option value="SABAH">Sabah</option>

  <option value="SARAWAK">Sarawak</option>

  <option value="SELANGOR">Selangor</option>

  <option value="TERENGGANU">Terengganu</option>

  <option value="KUALA LUMPUR">Kuala Lumpur</option>

  <option value="LABUAN">Labuan</option>

  <option value="PUTRAJAYA">Putrajaya</option>

</select>
<label for="id_fully_vaccinated">Fully vaccinated:</label><input type="checkbox" name="fully_vaccinated" id="id_fully_vaccinated">
      <button class="submit-btn" type="submit" value="Confirm">
    
  </button></form></header>