{% load crispy_forms_tags %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
    <body>
        <form method="POST" class="form_group">
          {{form|crispy}}
          {% csrf_token %}
          <p>Already have an account? Login <a href="/login">here</a></p>
          <button type="submit" class="btn">Join Us</button>
        </form>
    </body>
</html>