{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'assets/account/css/styles.css' %}">
        <title>Register</title>
    </head>
    <body>
      <div class="form-container">
        <form method="POST" class="form_group">
          {{form.as_p}}
					{% csrf_token %}
          <p>Already have an account? Login <a href="/login">here</a></p>
          <button type="submit" class="btn">Join Us</button>
        </form>
      </div>
    </body>
</html>

