@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Slabo+27px&display=swap');

* {
  font-family: Quicksand;
}



.form_group {
  color: #222;
}

.form_group {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5% 10%;
  padding:5%;
  background-color:rgba(0, 0, 0, 0.1);
  font-weight: normal;
  font-size: 20px;
  
}

.btn{
  font-size: 1.2em;
  
  border: solid darkslategray 2px;
}

.form-container label{
  font-weight: bold;
  font-family: Slabo 27px;
}
