{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container">
  <h1>Current SOPs</h1>
  <h3><i>
    {% if SOP.vaccine == None %}
    Please select your state and your vaccination status on the top
    {% elif SOP.vaccine == True %}for fully vaccinated people in your location{% else %}for not fully vaccinated people in your location{% endif %} {{SOP.state}}
    </i> </h3>
	<h3><i> Phase : {{SOP.phase}} </i> </h3>
  <section class="SOP">
    
    <div class="btn-group" style="width:100%">
      <button><img class ="SOP_img" src= "{% static 'assets/images/Arts.png' %}" alt="art img"> <p>Arts</p>
      <p class="SOP-content">{{SOP.Description_Arts}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/camping.png' %}"  alt="camping img"> <p>Recreation</p>
      <p class="SOP-content">{{SOP.Description_Recreation}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/health.png' %}"  alt="health img"> <p>Health</p>
      <p class="SOP-content">{{SOP.Description_Health}}</p>
      </button>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/house_visit.png' %}"  alt="house img"> <p>House Visiting</p>
      <p class="SOP-content">{{SOP.Description_House_Visiting}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/market.png' %}" alt="market img"> <p>Markets</p>
      <p class="SOP-content">{{SOP.Description_Market}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/meeting.png' %}"  alt="meeting img"> <p>Meetings</p>
      <p class="SOP-content">{{SOP.Description_Meeting}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/school.png' %}" alt="school img"> <p>School</p>
      <p class="SOP-content">{{SOP.Description_School}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/shop.png' %}" alt="shop img"> <p>Shops</p>
      <p class="SOP-content">{{SOP.Description_Shop}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/sports.png' %}" alt="sports img"> <p>Sports</p>
      <p class="SOP-content">{{SOP.Description_Sports}}</p>
      </button>
      <button><img class ="SOP_img" src="{% static 'assets/images/taxi.png' %}" alt="taxi img"> <p>Taxi</p>
      <p class="SOP-content">{{SOP.Description_Taxi}}</p>
      </button>

      <button><img class ="SOP_img" src="{% static 'assets/images/food.png' %}" alt="food img"> <p>Dine-in</p>
      <p class="SOP-content">{{SOP.Description_Dine_in}}</p>
      </button>
      
      <button><img class ="SOP_img" src="{% static 'assets/images/religious.png' %}" alt="mosqueimg"> <p>Religious</p>
      <p class="SOP-content">{{SOP.Description_Religious}}</p>
      </button>
    
      <button><img class ="SOP_img" src="{% static 'assets/images/social.png' %}" alt="socialimg"> <p>Social Gatherings</p>
      <p class="SOP-content">{{SOP.Description_gathering}}</p>
      </button>

    </div>

    <div class="others">

      <button><img class ="SOP_img" src="{% static 'assets/images/travel.png' %}"  alt="travel img"> 
      <a href="https://harianpost.my/wp-content/uploads/2021/04/Surat-PKP.docx" download>
      <p>Travel</p>
      </a>
      <p class="SOP-content">{{SOP.Description_Travel}}</p>
      </button>

      <button><p style="text-align:center">Other allowed activities</p>
      <img class ="others_img" src="{% static 'assets/images/allowed.png' %}" alt="yesimg">
      <ul class="others-list">
        <li>{{SOP.Description_others_y}}</li>
      </ul>
      </button>

      <button><p style="text-align:center">Other activities not allowed</p>
      <img class ="others_img" src="{% static 'assets/images/not-allowed.png' %}" alt="noimg">
      <ul class="others-list">
        <li>{{SOP.Description_others_n}}</li>
      </ul>
      </button>

    </div>

  </section>
</div>

<div w3-include-html="nav.html"></div>


<script src=" {% static 'assets/script/script.js' %}"></script>
<script>
  includeHTML();
</script>
<script>includeHTML();</script>
{% endblock %}